POSTGRES_PASSWORD=random-huge-password
JWT_KEY=more-than-32-random-signs
POSTGRES_DB=database-name
POSTGRES_USER=database-username
POSTGRES_PORT=5432
MINIO_ROOT_USER=minio-username
MINIO_ROOT_PASSWORD=random-huge-password